/*
.message {
	color: white;
}

.message a {
	transform: none;
	color: white;
}

.maj {
	background-color: black;
	color: white;
	font-size: 30px;

	display: flex;
	justify-content: center;
	font-family: 'Iceberg', cursive;
}
*/